<!-- views/users/show.html.erb -->

<div class="container d-flex flex-column">
  <div class="row" style="margin-top: 5px;">
    <div class="col-md-2"><img class="img-fluid" src="<%= @user.photo %>" style="border-style: solid;" /></div>
    <div class="col-md-10 align-self-center">
      <div class="row" style="border-style: solid;">
        <div class="col">
          <h3><%= @user.name %></h3>
        </div>
        <div class="col align-self-end">
          <h5>Number of posts: <%= @user.posts.count %></h5>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 5px;border-style: solid;">
    <div class="col">
      <h5>Bio</h5>
      <p><strong><%= @user.bio %></strong></p>
    </div>
  </div>

  <% @posts.each do |post| %>
    <div class="row" style="margin-top: 5px;border-style: solid;">
      <div class="col">
        <h5>Post #<%= post.id %></h5>
        <p><strong><%= post.title %></strong></p>
        <p><%= post.text %></p>
        <h5 class="text-end">Comments: <%= post.comments.count %>, Likes: <%= post.likes.count %></h5>
        <%= link_to "See details", user_post_path(@user, post), class: "btn btn-secondary" %>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col text-center" style="margin-top: 5px;"><button class="btn" type="button" style="border-style: solid;border-color: var(--bs-btn-color);width: 137px;box-shadow: 3px 3px;border-radius: 0px;">See all posts</button></div>
  </div>
</div>
